<header>
    <h3><a href="{{link category basename}}">{{title}}</a></h3>
    <time class="published" datetime="{{created}}">{{dateFormat created "LL"}}</time>
</header>
<a href="{{link category basename}}" class="image"><img src="{{headerImg image}}" alt="{{basename}}" /></a>