<article class="post">

    {{>postHeader}}
    {{#if image}}
        <a href="{{link category basename}}" class="image featured">
            <img src="{{headerImg image}}" alt="{{basename}}"/>
        </a>
    {{/if}}
    
    <p>{{preview}}</p>
    <footer>
        <ul class="actions">
            <li><a href="{{link category basename}}" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">{{category}}</a></li>
            {{! REMOVED. NOT USED YET
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
            }}
        </ul>
    </footer>
</article>