<article class="post">

    {{>postHeader}}
    {{#if image}}
        <a href="{{link category basename}}" class="image featured">
            <img src="{{headerImg image}}" alt="{{basename}}"/>
        </a>
    {{/if}}
    
    <p>{{preview}}</p>
    <footer>
        <ul class="actions">
            <li><a href="{{link category basename}}" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">{{category}}</a></li>
            {{!<li><a href="#" class="icon fa-heart">0</a></li>}}
            <li><a href="{{link category basename}}#disqus_thread" data-disqus-identifier="{{basename}}" class="icon fa-comment disqus-comment-count">0</a></li>
        </ul>
    </footer>
</article>