<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
	<head>
		<title>{{config.project.name}}{{#if title}} - {{title}}{{/if}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{config.path.baseurl}}{{config.path.asset}}/js/html5shiv.min.js"></script><![endif]-->
		<link rel="stylesheet" href="{{config.path.baseurl}}{{config.path.asset}}/css/theme/main.min.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{config.path.baseurl}}{{config.path.asset}}/css/theme/ie9.min.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{config.path.baseurl}}{{config.path.asset}}/css/theme/ie8.min.css" /><![endif]-->
	</head>
	<body>
        <div id="wrapper">
            <header id="header">{{>header}}</header>
            <section id="menu">{{>rightSidebar}}</section>
            
            <div id="main">
            
            {{! MainPage}}
            {{>body}}
                
                {{!Output debug/test-page if config.debug==true}}
                {{#if config.debug}}
                    {{>debug}}
                {{/if}}
            </div>
            
            <section id="sidebar">
                <section id="intro">{{>intro}}</section>
                
                <section>
                    <div class="mini-posts">                    
                        {{>miniPosts}}
                    </div>
                </section>
                
                {{! only print related pages if there are any}}
                {{#if page.related}}
                    <section>
                        <h4>Related pages</h4>
                        <ul class="posts">
                            {{#each page.related}}
                                {{>postListSm this.data}}
                            {{/each}}
                        </ul>
                    </section>
                {{/if}}
                
                <section class="blurb">
                    {{>about}}
                </section>
                
                <section id="footer">
                    {{>footer}}
                </section>
            </section>
        </div>
        
        <script src="{{config.path.baseurl}}{{config.path.asset}}/js/packages/jquery.min.js"></script>
        <script src="{{config.path.baseurl}}{{config.path.asset}}/js/packages/skel.min.js"></script>
        <script src="{{config.path.baseurl}}{{config.path.asset}}/js/main.min.js"></script>
        <!--[if lte IE 8]><script src="{{config.path.baseurl}}{{config.path.asset}}/js/respond.min.js"></script><![endif]--> 
	</body>
</html>